.row__main {
  height: 100vh;
}

.wrapper__form {
  background-color: var(--white);
  height: 100%;
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 80%;
}

.form__input {
  margin: 1rem 0 1rem 0;
}

